@charset "utf-8";

.footer-copyright {
  overflow: hidden;
}

.footer-copyright-text {
  display: block;
  position: relative;
  font-size: 14px;
}

.footer-social-icon {
  display: table-cell;
  height: 18px;
  text-align: center;
  width: 18px;
  vertical-align: middle;
  margin-left: 10px;
  float: left;
}