@charset "utf-8";

.page-title {
  text-align: center;
}

.page-author {
  display: none;
}

.page-content {
  padding-top: 20px;
}

.page-content p {
  line-height: 1.4;
  padding-bottom: 5px;
}

.page-content img {
  display: block;
  margin: 10px auto;
}
