@charset "utf-8";

.post-title {
  text-align: center;
  padding-top: 5px;
}

.post-content {
  padding-top: 20px;
}

.post-content p {
  line-height: 1.4;
  padding-bottom: 5px;
}

.post-content img {
  display: block;
  margin: 10px auto;
}

.post-img-left {
  float: left;
  padding-right: 10px;
}

.post-img-right {
  float: right;
  padding-left: 10px;
}

.post-info {
  line-height: 24px;
  margin: 10px 0;
  padding-top: 20px;
}

.post-category,
.post-tag {
  margin: 0 5px;
}
